 

 /* ****************************main-header  and section-stiky***************************** 

               look at 605 , 515 , 442 , 350 , 190

 
 ***************************pre-footer*********************************************

 
                   look at  in 380 , 230 , 190
          
  ****************************form.sign up************************************************ 
 
                   look at  in 605 ,420, 380 ,330, 300
          
  *******************************images-article**************************************************

                          look at 530, 230 , 605 , 195

 **************************************code************************************************** 
                              
                                  look at   230

   
 ******************************************************************** */             

  @media only screen and (max-width: 605px){

   
   

   .sticky-section > div > img {
      height: 50px;
	  max-width: 150px;

      }

    .sticky-section   > div > form{
        
      flex: 2; 
    	max-width: 220px;



      }

     

      .admiral,.team,.customers-service {
        
        width: 100%;

      }

      .admiral article,.team article, .customers-service article {

                 
                 font-size: 14px;
         }
 
  } 

  /* ***************************************************************************** */

  @media only screen and (max-width: 530px){

     


    .admiral,.team,.customers-service {
        
        width: 100%;
        flex-direction: column;
        background: #fff;

      }

    .admiral article,.team article, .customers-service article {

      
                 font-size: 13px;
         }

         .admiral img ,.team img, .customers-service img {

            width: 100% !important;
            max-width: 450px;
            margin: 0 auto;

         } 

         .form-section img {

          display: none;
         }
          

          .form-section form {

            background: #00aff2;
            position: initial !important;
          }
            
}

/*******************************************************************/


 @media only screen and (max-width: 515px){

      .sticky-section   > div {
       
       justify-content: space-between;

      }
      
      .sticky-section   > div form {

      	justify-content: flex-end;
      	margin-left:15px;
      }

  	  .sticky-section   > div > form > *:not(.label-checkbox){

         display: none;

  	   }

     .sticky-section div form .label-checkbox{

	     display: block;
       }

  }

/* *************************************************************** */
   @media only screen and (max-width: 500px){

    .form-section{

    	justify-content: center;
    }
     
    .slide{
      margin-top:140px;
    }

 }
 
 /* *********************************************************************** */

 
@media only screen and (max-width: 400px){

  .main-header{

    flex-direction: column;
  }

  .slide{
    margin-top:185px;
  }


   .form-section{

      background: none
   }
}

/********************************************************************************/


 @media only screen and (max-width: 380px){

                              

     .over-flow aside{
     	flex-direction: column;
     }

     .over-flow >  aside > div > h4 , .over-flow > aside > div > h5 {


	 font-size: 25px;
    }

  
}

/*********************************************************************************/



 @media only screen and (max-width: 350px) {


    .main-header{

    	display: block;
    	padding-bottom: 5px;
    }

     

    .sticky-section  {

    	top: 100px
    }

 }


/* *********************************************************************************** */
@media only screen and (max-width: 330px){

	form.sign-up input, form.sign-up select {

	display: block;
	height: 30px;
	margin: 15px 0 15px 0;
	}

}

/* ************************************************************************************* */
@media only screen and (max-width: 300px){
    

	.form-section img{
		display: none;
	}
    form.sign-up{

     max-width: 300px;
     height:440px;
     padding: 0px 5px 0px 5px;
     margin: 0 auto;
     background:#00aff2 ;
     opacity: .7;
     max-width: 90%;

   }

   li{
   	padding: 0 ;
   	margin: 0 ;
   }

   .copy{

   	  font-size: 14px;
   }
}

/******************************************************************/
 @media only screen and (max-width: 260px){

   .copy{

   	  font-size: 12px;
   	  padding: 5px 0px 2px 0; 
   	  
   }
 }  
/* ****************************************************************** */


@media only screen and (max-width: 230px){

  .sticky-section{
    height: 70px !important;
  }

    .sticky-section div{

      justify-content: space-between;
      flex-direction: column;
    }

    .sticky-section div img {
 
        align-self: center;
           
      
    }

    .sticky-section div form {

     display: flex;
     width: 100%;
     align-self: flex-end;
     padding-bottom: 6px;
     justify-content: center !important;
     height: 40px;
    }
  
    .sticky-section div form *{

      display: block;
    }
    
    .cods{
    	width: 100%;
    	text-align: right;
    	padding: 0;
      margin: 0;
      
    }

    .cods ul li {

      padding: 0px 0 0px 0;
      margin: 0;
 
     }

    .cods ul li code{

      font-size: 13px !important;
    }    


    .admiral article,.team article, .customers-service article {
      
                 font-size: 12px;
                 padding: 0;
         }

        .cities{
                 
                 width: 100%;
                 font-size: 12px;
                 padding: 0;
        }

         .over-flow >  aside > div > h4 , .over-flow > aside > div > h5 {

	 

	       font-size: 15px;
        }

     .over-flow >  aside > div > h2 , .over-flow > aside > div > h3 {

	 

      font-size: 20px !important;
      
    }
 
     .main-header span a .far {
      display: none;
    }

    .fixed-icon .fas{

          font-size: 32px
    }

    

  }

/* ******************************************************************** */

@media only screen and (max-width: 195px) {
  

  .main-header span{

    margin-left: 0;
  }
 	.main-header span a {
     font-weight: 900;
     margin-left: 0px;
 	}
   
   .main-header span a .fas{

     display: none;
   }

 	.main-header span a, .main-header span:first-child a{
     	margin-left: 0px;
     }


     article.service p {

   	width: 97%;
	  margin: 10px auto;
	  font-size: 14px;
	  font-weight: 300 !important ;

    }

    .fixed-bar form{

    	padding-right: 17px;
    }

 


   .images-articles > h2 {
    padding: 5px;
    text-align: center;

    }

 


      .over-flow ,  .over-flow >  aside ,   .over-flow > aside > div  {

	 

	   justify-content: flex-end;
	   padding: 0  0 0 3px;
	   text-align: left;
    }

      .over-flow >  aside > div > h2 , .over-flow > aside > div > h3 {

	 
    text-align: center;
	 font-size: 20px;
	 
    }
    
    .over-flow > aside > div > h3 {
     
      
      font-size: 15px;
      margin-right: 10px;

    } 

     .over-flow >  aside > div > h4 , .over-flow > aside > div > h5 {

       padding-right: 20px;
       padding-left: 0;
       margin-left: 0;
       text-align: center;

     }
     
    

     .main-footer .fab,.main-footer .far{

	   font-size: 20px;
	   font-weight: 900;
	    margin-right: 15px;

     }

      

 }
 /* ************************************************************************************* */

 @media only screen and (max-width: 180px) {

  .over-flow * {
    text-align: left !important;
  }

 }
