
*,body{

	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	
	
	
}



/**********************************main-header*****************************************/

.sticky-container{
    
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	overflow: hidden;
	margin-bottom: 20px;
	
}	

 .main-header{

    
	width: 100%;
 	display: flex;
    justify-content: space-between;
 	padding: 5px 0 5px 5px; 
 	margin-bottom: 0px;
	background: #f00;
	overflow:visible;
	
	
	
 	
 	

 }

 
  
 .main-header span a{ 
    font-weight: 900;
 	flex: 1;
	display: block;
 	color: #fff;
 	text-decoration: none;
 	margin-left: 10px;
 	margin-top: 5px;
 	
 }



 .main-header a .fas,.far{
    
    font-size: 19px;
    color: #fff;
 	transform:rotate(20deg); 
 	margin-bottom: 5px;
 	margin-top: 2px;


 }
 .far {
    
    transform:rotate(0deg);
    margin-right: 5px;
   
 }


/********************************fixed bar**************************************/



   .fixed-bar{

    position: fixed;
    top: 10px;
    left: 0;
    width: 80%;
    min-width: 145px;
    height: 750px;
    padding-top: 26px;
    background: rgba(2,2,2,.7);
    transition: all .5s ease-in-out; 
    transform: translate(-50%,0)scale(0,0); 
    z-index: 6; 


}

.fixed-bar  form {

	display: block;
	text-align: right;
	margin-bottom: 50px;
}

.fixed-bar ul{
	
	display: block;
	text-align: right;
	direction: rtl;

}

.fixed-bar ul li{

	color: #fff;
}
.fixed-bar ul li a{
	display: block;
	text-decoration: none;
	margin-bottom: 50px ;
	color: #fff;
}

.close{

	height: 30px;
	width: 30px;
	display: none;
	
}

.fixed-bar label .fas{
    font-weight: 900;
	font-size: 21px;
	color: #fff;
	background: #000;
	transform: rotate(-1deg);
}



/****************************************sticky*************************************************/

.sticky-section  {

	width: 100%;
	height: 80px;
     background: #fff;
     margin-bottom: 10px;
     padding-top: 10px;
     direction: ltr;
	 overflow-y: visible;
	
}

.sticky-section > div{

	 display: flex;
	 justify-content: space-between;
	 height: 100%;
	 padding-right: 10px;
     overflow-y: visible;
}



.sticky-section > div > img{

	flex: 1;
	height: 65px;
	max-width: 240px;
	
	
	
	


}

.sticky-section   > div > form{
  
  flex: 1;
  max-width: 400px; 
  display: flex;
  justify-content:flex-end;
  align-self: center;
  align-items: center;
  overflow-x: hidden;
  min-height: 50px

  



}

.sticky-section div form  input{

	
	background: transparent;
	border: none;
	padding: 0 10px 0 10px;
	font-weight: 900;
	color: #00f;
}

  .sticky-section div form  .checkbox{

  width: 30px;
  height: 30px;
  background: green !important;
  display: none;
 
  
  
}

.sticky-section div form .label-checkbox{
	display: none;
}

.sticky-section div form label .fas{
    font-weight: 900;
	font-size: 19px;
	color: #000;
	transform: rotate(-1deg);
	 margin-bottom:  25px;

	 
}

/*****window******/

input.check-window{
	display: none;
}

.sticky-section .label-window {
	 
	 min-width: 150px;
	 align-self: flex-end;
	 padding: 0 5px 0 5px;
	 background: #fff;
	 font-size: 16px;
	 font-weight: 900;
	 line-height: 1.2rem;
	 text-align: right;
	 visibility: hidden;
	 position: fixed;
	 top: 120px !important;
	 right: 150px !important;
	 

}

.sticky-section .label-window ul li a{

	text-decoration: none;
	display: block;
	margin-bottom: 20px !important;
}

.sticky-section .label-window ul {

	line-height: 1.5rem;
	list-style: none;
}

.sticky-section  .label-check{
	font-weight: bold;
	padding: 0 10px 0 10px;
	color: #00f;
}

.check-window:checked  ~ .label-window{

	visibility: visible;
} 


/*****************************slide****************************************/

.slide{

	margin-top: 120px;
	width: 100%;
}



/*****************************service*********************************************************/
article.service {

	margin-top: 20px;
	text-align: center;
}

article.service h2,h3{

	text-align: center;

}




article.service p {

	width: 97%;
	margin: 10px auto;
	font-size: 17px;
	font-weight: 900;

}

/**********************************form sign up************************************************/

.form-section{

  height: 550px;
  width: 100%;
  overflow: hidden;
  margin: 60px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;


}




form.sign-up{
     display: flex;
     flex-direction:column; 
     align-content: space-between ;
     max-width: 350px;
     height: 420px;
     padding: 10px 10px 25px 10px;
     margin: 0 auto;
     background: #00aff2;
     opacity: 1;
     z-index: 1;
     text-align: right;
     direction: rtl;
    


    
}

form.sign-up input, form.sign-up select {

	display: block;
	height: 33px !important;
	margin: 15px ;
	
}



form.sign-up input[name|=title]	{

	text-align: center;
	font-size:19px;
	font-weight: 900;
	border: none;
	color: red;


}



/*********************************.images-articles*********************************************/




.images-articles > h2{

   
   padding: 20px;
   text-align: center;
  
}

.admiral{

	display: flex;
	justify-content:space-between;
	width: 95%;
	padding: 0 10px 0 5px;
	background: #F5F5F5;
	



}

.admiral img{

	max-width: 250px;
	max-height: 250px;
    
}

.admiral article {
	
	flex: 1;
	direction: rtl;
	padding-bottom: 7px;

}
.admiral article ul li {

	text-align: right !important;

}

.admiral article  h3{
  
   
   padding: 10px;
  

}



.admiral article{
     
	align-self: center;
	font-weight: 900;
	font-size: 15px;
	direction: rtl;
	line-height: 1.2rem;
	padding-left: 10px;

}

.admiral article ul,.admiral article ul li {

		padding: 0 ;
		margin: 0 ;
		text-align: center;
		
		   
}

.admiral article ul  {
	padding-right: 10px ;
	list-style-position: inside;
	list-style: none;
	
	
	

}
/*****************************/

.team{

	display: flex;
	justify-content: space-between;
	width: 95%;
	padding: 0 10px 0 5px;
	text-align: right;
	margin: 20px 0 0 0;
	background: #F5F5F5;
	
	

}

.team img {
	

	max-width: 250px;
	max-height: 250px;


}

.team  article{

	align-self: center;
	font-weight: 900;
	font-size: 15px;
	direction: rtl;
	line-height: 1.2rem;
	background: #F5F5F5;
	padding-left: 10px;

}


.team  article  .summry{

	background: #F5F5F5
}

.team  article details{

	width: 100%;

}

.cities{

	display: block;
	direction: rtl;
	text-align: right;
	width: 95%;
	font-weight: 900;
	font-size: 15px;
	margin-top: -15px;
	background: #F5F5F5;
}

.cities summary{

	display: inline-block;

}

/********customers service**************/

.customers-service{

	display: flex;
	justify-content: space-between;
	width: 95%;
	padding: 0 10px 0 5px;
	background: #F5F5F5;
	text-align: right;
    margin-top: 20px;




}

.customers-service article  h3{
  
   
   padding: 10px;

}

.customers-service img{

	max-width: 250px;
	max-height: 250px;
    
}

.customers-service article{

	align-self: center;
	font-weight: 900;
	font-size: 15px;
	direction: rtl;
	line-height: 1.2rem; 
	padding-left: 10px;

}

/**************************************cods******************************************************/
.cods{
    width: 95%;
	padding:10px 0 10px 0;
	margin: 20px auto 20px auto;
	direction: rtl;
	text-align: center;
	background: #F5F5F5;
}

.cods  h4 {
	text-align: center;
}


.cods ul {
	list-style: none;
	padding-right: 10px !important;

}



.cods ul li {

	padding: 0px 0 0px 0;
}

.cods ul li code {

	font-size: 87.5%;
    color: #e83e8c;
    font-weight: 900;
}


/*********************************whats*******************************************/

.fixed-icon{
    
    position: fixed;
    left: 60px;
    bottom: 65px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: #00aff2;
	z-index: 5

}

.fixed-icon .fas{

	font-size: 35px;
	font-weight: 900;
	position: relative;
	top:17px;
	left: 20px;
	color: #fff;
	animation-name: call;
	animation-duration: .3s;
	animation-iteration-count: infinite;
}




.fixed-icon-trans{
    
    position: fixed;
    left: 50px;
    bottom: 55px;
	width: 90px;
	height: 90px;
	border: 15px solid #00aff2;
	border-radius: 50%;
	background: transparent;
	transition: all 1.5s ease-in-out;
	transform:scale(.5,.5);
	animation-name: voice;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	opacity: .3;
	z-index: 7;



}



@keyframes voice {


	0% {
    transform: scale(1.1,1.1);

    }


50% {

    transform: scale(1.3,1.3);

    }


70%  {

    transform: scale(1.2,1.2);
  }

100% {
    
    transform: scale(1,1);
}

}



@keyframes call {

	0%{
       
       transform:rotate(20deg);

	}

	

  40%{

  	  transform:rotate(10deg);

  }	

   60%{

  	  transform:rotate(0deg);

  }	

   70%{

  	  transform:rotate(0deg);
  }

    80%{

  	  transform:rotate(0deg);
  }

    90%{

  	  transform:rotate(0deg);
  }

    95%{

  	  transform:rotate(0deg);
  }

    100%{

  	  transform:rotate(25deg);
  }
}
/***********************************whats***************************************/
.fixed-whats{
 
 position: fixed;
 top:50%;
 left: 0;
 min-width: 70px;
 padding: 5px;
 border-top-right-radius:50%;
 border-bottom-right-radius:50%;
 background: #000;
 z-index: 2;
}

.fixed-whats .fab{
    
    display: block;
    text-align: right;
    font-size: 55px;
    font-weight: 900;
    color: #080

}



/*******************************prefooter*****************************************/

.prefooter{

	
	
	background:#333;
	margin-top: 70px;
	overflow: hidden;
	margin-bottom: 2px;
	

}

.over-flow{

	display: flex;
	justify-content: space-between;
	width: 100%;
	background:rgba(2,2,2,.2);
	z-index: 1;
   flex-direction: column;
   justify-content:  center ;
   text-align: center;
   border-top: 15px solid rgba(2,2,2,.1);

}


.over-flow  aside {
    
    flex: 1;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #999;
	padding-bottom: 5px;
}






.over-flow > aside > div {
	flex: 1;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    text-align: center;
    min-height: 220px;
    min-width: 200px;
    max-width: 300px;
	opacity:.8 ;	
	direction: ltr;
	margin-bottom: 35px;


	
}





.over-flow > aside >  div > *{

  
    font-weight: 900;

    
	
	
}

.over-flow > aside >  div > h2{

	color: #fff;
	font-size:30px ;
}

.over-flow >  aside > div > h3{

	color: #fff;
	font-size:25px ;
}

.over-flow >  aside > div > h4 , .over-flow > aside > div > h5 {

	color: gray;
	font-weight: 900;
	display: block;
	
}

.over-flow > aside > div > h5.last-num{margin-bottom: 7px}



.twasal{

	margin-bottom:  30px
}

 .fas {

	transform: rotateX(20deg);
	color:#fff;

}




.main-footer{
    display: flex;
    justify-content: center;
	align-content: flex-end;
	align-items: flex-end;
    min-height: 30px;
    padding: 5px;
	background: #333;
	opacity: 1
	
}


.main-footer .fab,.main-footer .far{

	font-size: 20px;
	font-weight: 900;
	color: #29487D;
	color: #00acee;
	margin-right: 40px;

}

.main-footer .far{color: #1E90FF};
.main-footer .fab:first-of-type{color: #29487D;}
.main-footer .fab:last-of-type{color: #00acee;}

/************************copy******************************************************/

.copy{

	min-height: 30px;
	margin-bottom: 0px !important;
	background: #777;
	text-align: center;
	
}


/***************************************************************************/


.sign-up select , .sign-up input {
	padding: 2px !important
}