body, * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;    
}
/* ********************************************** */
/*                 image-container                */     
/* ********************************************** */
.image-container{
   display: flex;
   justify-content: center;
   padding:20px 5px 20px 5px ;
}
.image-container img{
    max-width: 450px;
}
/************************************************/
/**                      articles               */
/***********************************************/
.articles{
    padding: 20px;
    color: #000;
    background: #f7f5f5;
}
.articles article > div{
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 1.2rem;
    padding-right: 0;
}
.articles div .h{
    width: 90%;
    color: #555;
}
.articles h3 , .articles h4{
    text-align: center;
}
.articles .menu{
   padding-top:1rem;
}
.menu img{
    max-width: 25px;
    margin-right: 25px;
    text-align: end;
    cursor: pointer;
}
.articles p {
    overflow-y: hidden;
    height: 0;
    transition: height 3.2s ease-in-out;
    color: #555;
    direction: rtl;
    line-height: 1.5rem;
}
.fit-content{
    height: fit-content !important;
}
