 
 @media only screen and (max-width: 670px){
    .slide{
      margin-top: 170px;
    }
    .images-articles > div{
      flex-direction: column;
    }
    .over-flow{
    flex-direction: column;
  }
 }
 @media only screen and (max-width: 420px){
  .sticky-container input , .sticky-container label{
    display: none;
  }
  label.label-checkbox{
    display: block;
  }
   .slide{
     margin-top: 210px;
   }
   .images-articles img{
     margin: 0 auto;
   }
   .fixed-icon{
    width: 40px;
    height: 40px;
   }
   .fixed-icon .fas{
     font-size: 14px;
   }

   h2 , h3 , h4 {
      font-size: 1.4rem;
   }
   p,span,li{
     font-size: 1.1rem;
     font-weight: 400 !important;
   }
 }
 @media only screen and (max-width: 365px){
  .over-flow > *{
    flex-direction: column;
  }
  .sign-up{
    padding: 5px;
    margin: 0 auto;
  }
  .articles{
    padding: 5px;
  }
}
 @media only screen and (max-width : 250px) {
  .sticky-container{
    position: initial;
  }
  .slide{
    margin-top: 0px;
  }
  .fixed-icon-trans{
    bottom: 10%;
    right: 0px !important;
    left: auto;
  }
}